html, body {
    font-family: 'Comic Sans MS', monospace, Arial;
    margin: 0px;
    padding: 0px;
}

#top_header {
    background-color: rgb(23, 147, 208);
    padding: 10px;
    box-sizing: border-box;
    min-height: 100%;
    border-bottom: 5px solid black;
}

a:link, a:visited {
    color: white;
}

#main-content {
    margin: 8px;
}

#main-content a:visited, #main-content a:link, footer a:visited, footer a:link {
    color: rgb(23, 147, 208);
}
footer {
    color: lightgray;
    font-size: small;
    text-align: center;
}